<% if user_signed_in? %>
  <%= form_for @team do |f| %>
    Name: <%= f.text_field :name, value: @team.name %>  <%= f.submit 'Save' %>
  <% end %>
<% else %>
  <h1><%= @team.name %></h1>
<% end %>

<u><h3>Teammates:</h3></u>
<ul>
  <% @team.users.each do |user| %>
    <li><%= link_to user.email, user_url(user) %></li>
  <% end %>
</ul>

<u><h3>Boxes:</h3></u>
  <% @team.boxes.each do |box| %>
    <li><%= link_to box.name, box_url(box) %></li>
  <% end %>

<u><h3>Meats:</h3></u>
  <% @team.meats.each do |meat| %>
    <li><%= link_to meat.name, meat_url(meat) %></li>
  <% end %>
