<% content_for :javascripts do %>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
<% end %>
<%= render :partial => 'charts' %>

<%= form_for @box do |f| %>
  Name: <%= f.text_field :name, value: @box.name %><br />
  Master meat: <%= f.collection_select :master_meat_id, @box.meats.all, :id, :name, prompt: true %><br />
  Active: <%= f.check_box :active, value: @box.active %><br /><br />
  <%= f.submit 'Save' %>
<% end %>

<h1>Meats in this box:</h1>
<ul>
  <% @box.meats.each do |meat| %>
    <li><%= link_to (meat.name || 'Unnamed'), meat_url(meat)%></li>
  <% end %>
</ul>
