<% if user_signed_in? %>
  <div class="span3">
    <ul class="nav nav-list well">
      <li class="nav-header">Your teams' boxes</li>
      <% current_user.boxes.each do |box| %>
        <li><%= link_to box.name, box_path(box) %></li>
      <% end %>
    </ul>
    <ul class="nav nav-list well">
      <li class="nav-header">Your teams</li>
      <% current_user.teams.each do |team| %>
        <li><%= link_to team.name, team_path(team) %></li>
      <% end %>
    </ul>
    <ul class="nav nav-list well">
      <li class="nav-header">Your meat children</li>
      <% current_user.meats.each do |meat| %>
        <li><%= link_to meat.name, meat_path(meat) %></li>
      <% end %>
    </ul>
    <ul class="nav nav-list well">
      <li class="nav-header">Meats in your teams' boxes</li>
      <% current_user.box_meats.each do |meat| %>
        <li><%= link_to meat.name, meat_path(meat) %></li>
      <% end %>
    </ul>
    <ul class="nav nav-list well">
      <li class="nav-header">Your recipes</li>
      <% current_user.recipes.each do |recipe| %>
        <li><%= link_to recipe.name, recipe_path(recipe) %></li>
      <% end %>
    </ul>
  </div>
  <div class="span6">
    <div>
      Your API Key: <strong><%= current_user.api_key %></strong>
    </div>
    <div>
      <hr />
      <%= link_to "Create a new meat", new_meat_path %>
    </div>
    <div>
      <hr />
      <%= link_to "Create a new recipe", new_recipe_path %><br />
      <%= link_to "See all existing recipes", recipes_path %>
    </div>
    <div>
      <hr />
      <%= form_for @team do |f| %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        Join a team: <%= f.collection_select :id, Team.all, :id, :name, prompt: true %> <%= f.submit 'Save' %>
      <% end %>
      <%= form_for @team do |f| %>
        Or create a new team: <%= f.text_field :name, value: @team.name %> <%= f.submit 'Save' %>
      <% end %>
    </div>
  </div>
<% end %>
