<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Charcut.io</title>
<meta name="description" content="The 9mmedia meat curing fridge.">
<%= stylesheet_link_tag "application", media: "all" %>
<%= javascript_include_tag :modernizr %>
<%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= javascript_include_tag "application" %>

</body>
</html>
